.header__top {
    display: flex;
    justify-content: center;
    padding-top: 0.88rem;
    padding-bottom: 0.81rem;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.06rem;
    background-color: #EAEAEA;
    padding: 0.94rem 0;

        .fa-shap.fa-solidfa-location-dot {
            color: #353535;
            p {
                color: #353535;
        }
    }
}

