.header__top {
    @include flexcenter;
    padding-top: 0.88rem;
    padding-bottom: 0.81rem;
    background-color: white;
}

.header__bottom {
    @include flexcenter;
    gap: 1.06rem;
    background-color: #EAEAEA;
    padding: 0.94rem 0;

    .fa-sharp.fa-solid.fa-location-dot {
            color: $dark-grey;
        /*LE P MARCHE PAS */
            p {
                color: $dark-grey;
        }
    }
}

.header__arrow {
    position: absolute;
    left: 1.06rem;
    top: 1rem;
}

.banner{
    width: 100%;
    height: 17.18rem;
    object-fit: cover;
}