.section__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 2.44rem;
    padding-bottom: 3.56rem;
        &--text {
            font-size: 1.125rem;
            color: #353535;
            padding-top: 1rem;
            padding-bottom: 1.69rem;
        }
        & h1 {
            @include desktop {
                font-size: 2.5rem;
            }
        }
        & h1 br{
            @include tablet {
                display: none;
            }
        }
}