.restaurants {
    display: flex;
    flex-direction: column;
    gap: 1.13rem;
    background-color: #f6f6f6;
    padding: 3.38rem 1.25rem;
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 4.81rem;
            padding-left: 0.81rem;
            position: relative;
            & p {
                font-size: 1.06rem;
                font-weight: 300;
            }
        }
}

.restaurants__card {
        background-color: white;
        @include radius-card;
        position: relative;
            & img{
                width: 100%;
                height: 10.87rem;
                object-fit: cover;
                border-radius: 0.93rem 0.93rem 0 0;
            }
            &--new {
                @include card-new;
                position: absolute;
                right: 0.90rem;
                top: 0.81rem;
            }
    }
/*
.heart {
    position: absolute;
    right: 1.56rem;
    bottom: 2.06rem;
}
.heart> path{
    fill: none;
    stroke: black;
}
.heart:hover > path {
    fill: violet;
    stroke: none;
}
*/

.heart--checkbox {
    display: none;
}

.heart--svg {
    position: absolute;
    right: 1.56rem;
    bottom: 2.06rem;
    stroke: black;
    cursor: pointer; /* pour avoir la main */
}

.heart--checkbox:checked + .heart--svg path {
    fill: violet;
    stroke: none;
}
