.infos {
    padding : 3rem 1.25rem 4.25rem 2.03rem;
    @include tablet {
        padding: 3.12rem 1.25rem;
    }
    @include desktop {
        max-width: 1080px;
        margin: 0 auto;
    }
    &__flex {
        display: flex;
        flex-direction: column;
        gap: 1.56rem;
        padding-top: 1.62rem;
        @include tablet {
            flex-direction: row;
            gap: 2.28rem
        }
        &--circle {
            @include flexcenter;
            position: absolute;
            left: -0.8rem;
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
            color: #FFF;
            background-color: $purple;
        }
    }
}

.infos__flex > h2 {
    display: flex;
    align-items: center;
    background-color: $light-grey;
    gap: 1.69rem;
    border-radius: 1.25rem;
    width: 20.15rem;
    height: 4.52rem;
    padding-left: 2.09rem;
    @include box-shadow;
    font-size: 1rem;
    position: relative;
        @include tablet {
        &:first-child {
            margin-left: 12px;
        }
    }
}

