$cyan-light : #99e2d0;
$cyan : #008766;
$blue-light : #89C8FA;
$blue : #003A68;
$purple : #9356DC;
$light-grey : #f6f6f6;
$dark-grey : #353535;
$gradient : linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);